.DS_Store
德甲/
法甲/
英超/
西甲/
意甲/
node_modules/
rawdata/
__pycache__/
*.pyc
*.pyo
*.pyd
SAX_encoder/1.generateOddsDetail/SAX encoder/bookmaker_details/bet_365_details.json
SAX_encoder/1.generateOddsDetail/SAX encoder/bookmaker_details/easybets_details.json
SAX_encoder/sax_results/Bet 365_sax_individual.json
SAX_encoder/sax_results/Bet 365_sax_joint.json
SAX_encoder/sax_results/Easybets_sax_individual.json
SAX_encoder/sax_results/Easybets_sax_joint.json
